.card-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & > * {
    margin-bottom: 5rem;
  }
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: $background-color;
  box-shadow: 1rem 1rem 0.2rem black;
  transition: $transition;
  width: 80vw;

  .card-img {
    position: relative;

    img {
      width: 80vw;
    }

    > * {
      border-radius: 16px 16px 0 0;
      display: block;
    }

    .card-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(231, 82%, 6%, 0.6)'/><path d='M3.25 10h13.5M10 3.25v13.5' transform='translate(5,0)' stroke-linecap='square' stroke-width='1' stroke='hsla(231, 82%, 6%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
      z-index: 1;
      opacity: 0;
      transition: $transition;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;

    > * {
      margin-bottom: 2rem;
      filter: grayscale(0);
      transition: $transition;
    }

    .card-title {
      background: $gradient;
      text-shadow: none;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.7rem;
    }

    .card-breadcrumb {
      padding: 10px 16px;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        display: inline;
        padding: 8px;
      }

      li + li:before {
        color: $secondary-color;
        content: "/\00a0  ";
      }
    }

    .card-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      > * {
        box-shadow: none;
      }
    }
  }
}

@media #{$tablet} {
  .card {
    .card-title {
      font-size: 1.7rem;
    }
  }
}

@media #{$laptop-l} {
  .card {
    .card-img .card-img-overlay {
      opacity: 1;
    }

    .card-content {
      > * {
        filter: grayscale(1);
      }

      .card-title {
        background: $secondary-color;
        text-shadow: none;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: $transition ease;
      }

      .card-actions > * {
        background: $secondary-color;
        transition: $transition ease;
      }
    }

    &:hover {
      & {
        box-shadow: 0.5rem 0.5rem 0.2rem black;
      }

      .card-img .card-img-overlay {
        opacity: 0.3;
      }

      .card-content {
        > * {
          filter: grayscale(0);
        }

        .card-title {
          background: $gradient;
          text-shadow: none;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .card-actions > * {
          @include btn;
        }
      }
    }
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: start;
    margin-bottom: 3rem;

    & > * {
      margin-bottom: 0;
    }
  }

  .card,
  .card .card-img img,
  .card .card-img .card-img-overlay {
    width: 30vw;
  }
}
