@mixin btn-hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0rem 0rem 0rem black;
}

@mixin btn {
  background-image: $gradient;
  font-weight: 800;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: $border-radius;
  border: none;
  display: block;
  transition: $transition;

  &:not(.btn-no-shadow) {
    box-shadow: 1rem 1rem 0.2rem black;

    &:hover {
      @include btn-hover;
    }
  }

  &.btn-less-shadow {
    box-shadow: 0.5rem 0.5rem 0.2rem black;

    &:hover {
      @include btn-hover;
    }
  }

  &.btn-go::before {
    /* https://unicodearrows.com/ */
    content: "\21ac  ";
  }
}

.btn {
  @include btn;
}

.contact-form {
  *:not(.btn) {
    font-family: "DM Mono", monospace;
  }

  .row {
    width: 100%;
    display: flex;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    position: relative;
    border-radius: $border-radius;
    border: 2px solid $rosewood;
    color: $primary-color;
    background: rgba($color: $background-color, $alpha: 0.7);
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
  }

  textarea {
    height: 200px;
  }

  .input50 {
    width: 50%;
    margin: 0 10px;
  }

  .input100 {
    width: 100%;
    margin: 0 10px;
  }

  form {
    width: 100%;
  }
}
