@mixin btn-hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0rem 0rem 0rem black;
}

@mixin btn {
  background-image: $gradient;
  font-weight: 800;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  transition: $transition;

  &:not(.btn-no-shadow) {
    box-shadow: 1rem 1rem 0.2rem black;

    &:hover {
      @include btn-hover;
    }
  }

  &.btn-less-shadow {
    box-shadow: 0.5rem 0.5rem 0.2rem black;

    &:hover {
      @include btn-hover;
    }
  }

  &.btn-go::before {
    /* https://unicodearrows.com/ */
    content: "\21ac  ";
  }
}

.btn {
  @include btn;
}
